<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epam.libranote.mapper.UserDao">

    <resultMap id="commonUserResultMap" type="com.epam.libranote.entity.User">
        <id property="id" column="id_user"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="linkedBookResultMap" type="com.epam.libranote.entity.Book">
        <id property="id" column="id_book"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="isRead" column="is_read"/>
        <result property="isFavourite" column="is_favourite"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="UserWithBooksResultMap" type="com.epam.libranote.entity.User">
        <id property="id" column="id_user"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>

        <collection property="bookList" column="book_id" notNullColumn="id_book"
                    javaType="ArrayList" ofType="com.epam.libranote.entity.Book"
                    resultMap="linkedBookResultMap"/>
    </resultMap>


    <select id="findAllUsers" resultMap="commonUserResultMap">
        SELECT * FROM "USERS"
    </select>

    <select id="findUserWithBooks" parameterType="java.lang.Long" resultMap="UserWithBooksResultMap">
        SELECT * FROM "USERS" u
            JOIN "USERS_HAS_BOOKS" ub ON
                u.id_user = ub.user_id
            JOIN "BOOKS" b ON
                ub.book_id=b.id_book
        WHERE u.id_user = #{id}
    </select>

    <insert id="insertUser" parameterType="com.epam.libranote.entity.User">
        INSERT INTO "USERS"
            VALUES (#{login}, #{password})
    </insert>

    <insert id="addBookInUserList" parameterType="map">
        INSERT INTO "USERS_HAS_BOOKS" (user_id, book_id)
        VALUES (#{user.id}, #{book.id})
    </insert>

    <update id="updateUser" parameterType="com.epam.libranote.entity.User">
        UPDATE "USERS" u SET u.login = #{login}, u.password = #{password}
            WHERE u.id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="java.lang.Long">
        DELETE * FROM "USERS" u
            WHERE u.id = #{id}
    </delete>

</mapper>